body{
    margin: 0%;
    padding: 0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: url("2.jpg");
    background-size: auto;
    overflow-x: hidden;
}
.section1{
width: 100vw;
}
#bg {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    display: none;
    z-index: -2;
}
.background{
    position: absolute;
    z-index: -1;
    margin: 0%;
    top: 0%;
    width: 100vw;
    max-width: 1400px;
}
.card1{
    /* background: rgb(56, 95, 250); */
    background: #2181ff;
    background-size: cover;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 40px;
    margin: auto;
    margin-top: 30px;
    border-radius: 8px;
    text-align: center;
    color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.705) 4px 4px 15px;
    width: 80vw;
    max-width: 500px;
    margin-bottom: 60px;
    overflow: hidden;
}
.card1 div{
    text-align: center;
    line-height: 1;
}
.avatarDiv{
    background: url("back.png");
    background-size: cover;
    margin: -30px;
    padding: 10px;
}
.NameTag{
    margin: auto;
    margin-bottom: 45px;
}
#name{
    padding: 2px 10px;
    border-radius: 3px;
    width: fit-content;
    margin: 30px auto;
}
#tag{
    padding: 2px 10px;
    border-radius: 5px;
    width: fit-content;
    margin: -20px auto 10px auto;
}
.detailDiv{
    margin: auto;
    margin-top: -20px;
    padding-left: 20px;
    padding-right: 20px;
}
.detailDiv h1{
    font-size: 28px;
    border-radius: 20px;
    width: fit-content;
    padding: 5px 20px;
    margin: auto;
}
.detailDiv h4{
    border-radius: 20px;
    width: fit-content;
    padding: 2px 10px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.detailDiv div{
    line-height: 1.4;
    text-align: center; 
    color: black;
    margin: auto;
}
.detailDiv div li{
    margin: 5px;
    padding-right: 10px;
    background: rgb(255, 255, 255);
    display: inline-block;
    padding-left: 10px;
    box-shadow: black 2px 2px 5px;
    border-radius: 20px;
    font-weight: bold;
}
.detailDiv div li:hover{
    background: black;
    color: white;
}
.avatar{
    width: 20vw;
    min-width: 100px;
    margin: auto;
    max-width: 120px;
    padding: 10px;
    border-radius: 50%;
    border: black 2px 2px;
}
.info{
    padding-top: 17px;
}
.line{
    background: blanchedalmond;
    width: 60vw;
    height: 2px;
    margin: auto;
    margin-top: 20px;
    max-width: 370px;
}
.social{
    color: black;
    font-weight: bold;
    padding: 10px;
    margin: auto;
    margin-top: 15px;
    /* display: in; */
    vertical-align: middle;
}
.follow{
    margin: auto;
    margin-top: 15px;
    margin-bottom: -25px;
}
.social li{
    margin: auto;
    padding: 4px 10px;
    display: inline-block;
    border-radius: 20px;
    margin-top: 15px;
    width: fit-content;
    background: blanchedalmond;
    font-size: 80%;
    box-shadow: black 2px 2px 5px;
}
.social li:hover{
    background: black;
    color: wheat;
    text-decoration: wheat;
}
.social li:hover a{
    color: wheat;
}
.social a img{
    max-height: 17px;
    padding: 4px;
    margin: auto;
    vertical-align: middle;
}
.git{
    margin: auto;
    margin-top: 15px;
}
.gitLogo img{
    max-height: 34px;
}
.git a span{
    vertical-align: middle;
    margin: auto;
}
.git a{
    background: blanchedalmond;
    padding: 7px 10px;
    border-radius: 20px;
}
.gitName{
    display: none;
}
.git a:hover .gitName{
    display: inline-block;
    vertical-align: text-top;
    margin: auto;
    color: rgb(0, 110, 255);
    font-weight: bold;
}
.music{
    margin-bottom: -20px;
    margin-top: 20px;
}
.jh{
    width: 100vw;
    position: fixed;
    bottom: -1px;
    padding: 5px 0px;
    background: rgba(0, 0, 0, 0.397);
    overflow: hidden;
}
.jh h6{
    color: wheat;
    width: fit-content;
    margin: auto;
    text-align: center;
    font-weight: bold;
}
a{
    text-decoration: none;
}