body{
    background: black;
    margin: 0%;
    padding: 0%;
    text-align: center;
}
.top{
    top: 0px
}
.middle{
    text-align: center;
    font-size: 10vw;
    color:#00FF64;
    font-family:trebuchet ms;
    margin: auto;
    margin-top: 35vh;
}
.middle .hover{
    display: none;
}

.middle:hover .main{
    display: none;
}

.middle:hover .hover{
    display: inline;
    color: white;
    font-size: 5vw;
}
marquee{
    color: rgb(255, 255, 0);
    width: 100vw;
    font-size: 20px;
    margin: -50px;
}
.block{
    background: red;
    color: red;
    width: 110vw;
    height: 10vw;
    max-height: 3vh;
}
.bottom{
    position: fixed;
    bottom: 12vh;
    width: 100vw;
}